.Header__Container {
  padding: 36px;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-mono);
}

.Logo__Container span {
  display: inline;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
