.AboutMe__Container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 36px;

  @media (min-width: 769px) {
    flex-direction: row;
    padding: 25px 100px;
  }
}

.AboutMe__Image {
  background: url('https://res.cloudinary.com/mpayancabrera/image/upload/v1693427896/IMG_4341_zqqrtv.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 400px;
  height: auto;
  min-height: 300px;
  border-radius: 16px;
  margin: 0 auto;
  order: 1;

  @media (min-width: 769px) {
    width: 50%;
  }
}

p {
  width: 100%;
  order: 2;
  text-align: left;

  @media (min-width: 769px) {
    order: 1;
    width: 50%;
  }
}
